.cake-details {
    margin-top: 100px;
    &__wrapper {
        &__grid {
        cursor: pointer;
            height: 350px;
        }
    }
}

@media ( max-width: $mobile-screen ) {
    .cake-details {
        &__wrapper {
            &__grid {
              height: 150px;
            }
        }
    }
}